<html>
	{{> Head}}
	<body>
        {{> Navbar dashboard='active'}}
		<div class="container">
			<h2>Hello {{ user }}.</h2>
			<p>You have contributed {{numberOfStories}} story pieces.</p>
		</div>
	</body>
</html>