<html>
{{> Head}}

<body>
    {{> Navbar fullstory='active'}}
    <div class="container">
        {{#each allStories}}
            <h2>{{title}}</h2>
            {{#each story}}
                <span id="{{story_portion_id}}" class="story_portion" onclick="showFunnyButton(event)">{{story_portion}}</span>
            {{/each}}
            <br><br>
        {{/each}}
        <button id="funny-button" class="btn btn-secondary" onclick="funnyConfirm(event)">FUNNY</button>
    </div>
</body>
</html>