<html>
{{> Head}}

<body>
	{{> Navbar login='active'}}
	<div class="container">
		<h3>Login:</h3>
		{{> LoginRegisterForm loginOrRegister='login'}}
		<p id="error-login" class="warning-text"></p>
	</div>
</body>

</html>