<html>
{{> Head}}

<body>
	{{> Navbar register='active'}} 
	<div class="container">
		<h3>Register new account:</h3>
		{{> LoginRegisterForm loginOrRegister='register'}}
		<p id="error-register" class="warning-text"></p>
	</div>
</body>

</html>