{{!-- <form action="/{{loginOrRegister}}" method="post"> --}}
    <label for="username">Username</label>
    <input id="username" name="username" type="text"></input>
    <label for="password">Password</label>
    <input id="password" name="password" type="password"></input>
    <input type="submit" onclick="postLogin()" value="Submit">
{{!-- </form> --}}