<form action="/{{loginOrRegister}}" method="post">
    <label for="username">Username</label>
    <input name="username" type="text"></input>
    <label for="password">Password</label>
    <input name="password" type="password"></input>
    <input type="submit" value="Submit">
</form>