<form action="/submitstory" method="post">
    <label for="story">Story</label>
    <input name="story" type="text"></input>
    <label for="numWords">Words</label>
    <input name="numWords" type="number" value="3"></input>
    <input type="submit" value="Submit">
</form>