<form action="/submitstory" method="post">
    <label for="story">Story</label>
    <input name="story" type="text"></input>
    <label for="numWords">Words</label>
    <input name="numWords" type="number" value="3"></input>
    <input type="submit" value="Submit">
</form>


{{!--
<input id="story-field" type="text"></input>
<input id="words-to-show" type="number" value="3"></input>

<button onclick="submitStory()">Submit Story</button>

<a type="button" href="/getStory">Get Story</a>

<button onclick="createTable()">Make table</button> --}}