<div id='story-submit-div'>
    <div class="row">
        {{#if titleNeeded}}
            <div class="form-group col-md-6">
                <label for="title">New Story Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title-desc">
                <small id="title-desc" class="form-text text-muted">Enter title for new story.</small>
            </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="form-group col">
            <textarea class="form-control" id="story" name="story" onkeyup="updateWordCount()" maxlength="350"></textarea>
            <small id="word-count" class="form-text text-muted">Number of characters: 0/350</small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <small id="authors" class="form-text text-muted">Story length {{totalLength}} characters. Authors: {{uniqueAuthors}}.</small>
        </div>
    </div> 
    <div class="row">
        <div class="form-group col-md-3">
            <label for="numWords"># Words to Show Next Player</label>
            <select class="form-control" id="numWords" name="numWords">
                <option>1</option>
                <option>2</option>
                <option selected>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="hidden" id="storyID" name="storyID" value="{{storyID}}">
            <button id="story-submit" type="submit" class="btn btn-primary" onclick="addStory()">Add To Story</button>
            {{#if finishButton}}
                <button id="story-finish" type="submit" class="btn btn-danger" onclick="finishStory()">Finish and End Story</button>
            {{/if}}
        </div>
    </div>
</div>